.footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: $width-full;
    border-top: 1px solid #e5e5e5;
    padding: 10px 0 0;
}

.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

            & span {
                color: #f6a1a1;
            }
}

.subscribe, input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.submit {
    height: 40px;
    width: 150px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;    
    background: #95e1d3;
    border: none;
    font-weight: 700;
    color: $primary-white-color;
}